- title "Configuration"
.site
  .configuration
    .app_config
      %h2 Application Configuration / Environment Variables
      = render :partial => "section", :locals => {:name => "All", :hash => APP_CONFIG }
    .navigation
      = link_to "Back to Site Admin", site_path