common:
  email:
      redirect: development@softcraft.ca
  site:
    email:
      test:
        from: bakery@softcraft.ca
        to: test@softcraft.ca
        subject: Test Email from Bakery
  smtp:
    address: smtp.gmail.com
    port: 587
    # domain: softcraft.ca
    user_name: cwalker77
    password: **CHANGE ME**
    authentication: plain
    enable_starttls_auto: true  

development:
  domain: localhost:3000

test:
  domain: test.host

production:
  domain: softcraft-bakery.heroku.com

