- title "Site Administration"
.site
  %ul
    %li
      = link_to "Configuration", site_config_path
    %li
      = link_to "Test Email", new_site_mail_path      
    %li
      = link_to "Generate an Error", new_site_error_path      